@charset "UTF-8";
.about {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:"content" "quote" "footer";
  padding-top: 5em;
}
@media (min-width: 60em) {
  .about {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "content   content   content   content";
  }
}

main {
  grid-area: content;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 34em) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 60em) {
  .grid {
    grid-template-columns: 30% 250px 20vw 1fr;
  }
}

@media (min-width: 34em) {
  .box-wide {
    grid-column: span 2;
    width: 50vh;
  }
}

.box-full {
  grid-column: 1 / -1;
  background-color: #EAEAEA; 
  border-radius: 3px;
  padding: 0 3em 1em 3em;
  color: rgb(0, 0, 0);
  font-size: 1.2em;
}

@media (min-width: 20em) {
  .box-photo {
    grid-column: span 4;
    background: url("../img/about.gif");
    background-position: center;
    background-repeat: no-repeat;
    height: 228px;
    width: 100%;
    border-bottom: 3px solid white;
    margin-top: 3em;
  }
}

p, h1, h2 {
  -webkit-font-kerning: normal;
          font-kerning: normal;
  -webkit-font-variant-ligatures: contextual common-ligatures discretionary-ligatures;
          font-variant-ligatures: contextual common-ligatures discretionary-ligatures;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "dlig";
          font-feature-settings: "kern", "liga", "clig", "calt", "dlig";
}

.box-header {
  text-align: center;
  background: rgba(234, 234, 234, 0.45);
  font-size: 1em;
}

.shadow-bottom {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
}

.box-content {
  padding: 2em 15% 2em 15%;
}





