* {
    box-sizing: border-box;
  }
  .header {
    position: fixed;
    z-index: 5;
    width: 100%;
    z-index: 300 !important;
  }
  .burger {
    position: absolute;
    z-index: 10;
    right: 2.5em;
    top: 2em;
    cursor: pointer;
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  }

  @media (max-width: 501px) {
      .burger {
          right: 1em;
          top: 1.5em;
      }
  }


  .burger__patty {
    width: 70px;
    height: 6px;
    margin: 0 0 0 0;
    background: white;
    border: 1px solid #000000;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .burger__patty:last-child {
    margin-bottom: 0;
  }
  .burger--close {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .burger--close .burger__patty:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(4px, 4px);
            transform: rotate(45deg) translate(4px, 4px);
  }
  .burger--close .burger__patty:nth-child(2) {
    opacity: 0;
  }
  .burger--close .burger__patty:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(5px, -4px);
            transform: rotate(-45deg) translate(5px, -4px);
  }
  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
  }
  .menu--active {
    visibility: visible;
  }
  .menu__brand, .menu__list {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }
  .menu__list {
    margin: 0;
    padding: 0;
    background: url("../img/menu-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    list-style-type: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu__list--active {
    transform: translate3d(0, 0, 0);
  }
  .menu__brand {
    background: rgba(255,255,255,1);
background: -moz-linear-gradient(-45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0.85) 50%, rgba(0,0,0,0.85) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(50%, rgba(255,255,255,0.85)), color-stop(51%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0.85) 50%, rgba(0,0,0,0.85) 100%);
background: -o-linear-gradient(-45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0.85) 50%, rgba(0,0,0,0.85) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0.85) 50%, rgba(0,0,0,0.85) 100%);
background: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0.85) 50%, rgba(0,0,0,0.85) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=1 );
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    transform: translate3d(0, 100%, 0);
  }
  .menu__brand--active {
    transform: translate3d(0, 0, 0);
  }
  .menu__item {
    transform: translate3d(500px, 0, 0);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu__item--active {
    transform: translate3d(0, 0, 0);
  }
  .menu__link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    padding: 15px 0;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.65);
    text-decoration: none;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu__link:hover {
    color: white;
  }

  .menu__link:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 10px;
    height: 2px;
    background: white;
    transform: translateX(-50%);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu__link:hover:before {
    width: 100%;
  }
  .menu .menu__item:nth-child(1) {
    transition-delay: 0.1s;
  }
  .menu .menu__item:nth-child(2) {
    transition-delay: 0.2s;
  }
  .menu .menu__item:nth-child(3) {
    transition-delay: 0.3s;
  }
  .menu .menu__item:nth-child(4) {
    transition-delay: 0.4s;
  }
  .menu .menu__item:nth-child(5) {
    transition-delay: 0.5s;
  }
  .menu .menu__item:nth-child(6) {
    transition-delay: 0.6s;
  }
  @media screen and (max-width: 768px) {
    ul.menu__list, div.menu__brand {
      float: none;
      width: 100%;
      min-height: 0;
    }
    ul.menu__list--active, div.menu__brand--active {
      transform: translate3d(0, 0, 0);
    }
    .menu__list {
      height: 75vh;
      transform: translate3d(-100%, 0, 0);
    }
    .menu__link {
      font-size: 24px;
    }
    .menu__brand {
      height: 25vh;
      transform: translate3d(100%, 0, 0);
    }
    .menu__brand .logo {
      width: 90px;
      height: 90px;
    }
  }
  .logo {
    width: 200px;
    height: 200px;
    background: #1a1a1a;
    border-radius: 50%;
  }
  h1, h2, h3, p {
    margin: 0;
    font-weight: 400;
  }
 
  .support {
    position: fixed;
    bottom: 24px;
    color: rgba(0, 0, 0, 0.6);
  }
  

.menu-contact {
  display: block;
  color: #ffffff;
  font-size: 22px;
  text-align: right;
  padding: 0.5em 1.5em 0 50%;
}

@media (max-width: 769px) {
  .menu-contact {
    display: none;
  }
}